/** 
@info react-grid-system breakpoints
xs: 0 - 575px
sm: 576px - 767px
md: 768px - 991px
lg: 992px - 1199px
xl: 1200px - 1599px
xxl: 1600px+
*/
$xs-max-width: 575px;
$sm-min-width: 576px;
$sm-max-width: 767px;
$md-min-width: 768px;
$md-max-width: 991px;
$lg-min-width: 992px;

$primary-color: #3f51b5;

.container {
  position: relative;
  margin: 100px auto 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0px 10px 1px #000000;
  min-width: 625px;

  @media (max-width: $xs-max-width) {
    min-width: 325px;
  }

  .formContainer {
    padding: 5px 0;
  }

  h1 {
    color: $primary-color;
    text-align: center;
    letter-spacing: 2px;
  }

  .formGroup {
    height: 30px;
    width: 275px;
    margin: 20px auto;
  }

  .formControl {
    height: 100%;
    width: 100%;
    font-size: 16px;
    letter-spacing: 1.2px;
    padding: 2px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1.5px solid #000000;
    transition: 250ms border ease-in;

    &:hover {
      outline: none;
      border-bottom: 1.5px solid #000000;
    }

    &:focus {
      outline: none;
      border-bottom: 1.5px solid $primary-color;
    }

    &::placeholder {
      color: lightgray;
      font-size: 12px;
    }
  }

  button[type='submit'] {
    font-weight: bold;
    height: 30px;
    width: 275px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    border: 1px solid $primary-color;
    background-color: #ffffff;
    color: $primary-color;
    transition: 250ms all ease-in;
    cursor: pointer;
    outline: none;

    &:hover {
      border: 1px solid $primary-color;
      background-color: $primary-color;
      color: #ffffff;
      outline: none;
    }
  }

  .formMessage {
    text-align: center;
    width: 275px;
    margin: 0 auto;
  }

  .formMessage.error {
    color: red;
  }

  .formMessage.success {
    color: green;
  }

  .signIn {
    text-align: center;
    font-size: 10px;
    letter-spacing: 1.2px;
  }
}
