.container {
  width: 100vw;

  table {
    min-width: 1200px;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead {
      tr {
        background-color: #3f51b5;
        color: #ffffff;
        text-align: left;
      }

      .arrows {
        transition: 250ms transform ease-in;

        svg.asc {
          transform: rotate(180deg);
        }

        svg.desc {
          transform: rotate(0);
        }
      }
    }
    th {
      text-align: center;
      padding: 12px 15px;
    }

    td {
      text-align: right;
      padding: 12px 15px;
      height: 45px;
    }

    tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    tbody tr:last-of-type {
      border-bottom: 2px solid #3f51b5;
    }
  }
}
