.container {
  header {
    background-color: #000000;
    color: rgb(167, 166, 166);

    .headerRight {
      display: flex;
      flex-direction: row-reverse;

      li {
        width: 100px;

        &:first-child {
          width: 200px;
          text-align: right;
          padding-right: 45px;
        }
      }
    }

    ul {
      list-style-type: none;
      display: flex;

      span {
        cursor: pointer;
      }
    }
  }

  form {
    width: 300px;
    height: 350px;
    padding-left: 15px;

    .formControl {
      display: flex;
      flex-direction: column;
      height: 65px;
    }

    label {
      font-size: 12px;
      color: grey;
    }

    input {
      height: 30px;
      width: 200px;
    }

    button[type='submit'] {
      height: 30px;
      width: 125px;
      color: #ffffff;
      background-color: #1088eb;
      border-radius: 5px;
      border: 1px solid #1088eb;
      outline: none;
      cursor: pointer;
      margin-top: 10px;
    }
  }

  .formMessage {
    font-size: 12px;
  }
}
