.container {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);

  .closeModalButton {
    position: absolute;
    right: 25px;
    top: 10px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
  }
}
